body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

.header {
  text-align: center;
  border: 3px solid green;
  margin: auto;
  padding: 10px;
}

.headentry {
  font-weight: bold;
  padding: 5px;
  margin: auto;
}
a{
  text-decoration: none;
}

a:link{
  color: green;
}
a:hover{
  color: orange;
}
a:visited{
  color:green;
}
a:selected{
  color:#55FF55;
}
